<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.yeohaengdam.course.mapper.CourseMapper">


    <resultMap id="detail" type="com.ssafy.yeohaengdam.course.dto.CourseData$Detail">
        <result column="user_id" property="userId"></result>
        <result column="course_id" property="courseId"></result>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="courseId">
        INSERT INTO course (user_id, title, description, created_at, updated_at)
        VALUES (#{userId}, #{title}, #{description}, #{createdAt}, #{updatedAt})
    </insert>

    <insert id="saveSchedules">
        INSERT INTO schedule (course_id, spot_id, order_index)
        VALUES
        <foreach collection="schedules" item="schedule" separator=",">
            (#{courseId}, #{schedule.spot.contentId}, #{schedule.orderIndex})
        </foreach>
    </insert>

    <delete id="deleteSchedules">
        delete from schedule
        where course_id = #{courseId}
    </delete>

    <update id="update">
        update course
        set title = #{title}, description = #{description}
        where course_id = #{courseId}
    </update>

    <select id="findById" resultMap="detail">
        select *
        from course
        where course_id = #{courseId};
    </select>

    <delete id="delete">
        delete from course
        where course_id = #{courseId}
    </delete>


</mapper>